body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f7c5cc, #e8aeb7);
    margin: 0;
}

h2 {
    background-color: #d47fa6;
    color: white;
    padding: 18px;
    margin: 0;
    text-align: center;
}

.container {
    width: 85%;
    margin: 30px auto;
}

/* FORM KARTI */
.kart {
    background-color: #fffafa;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 22px rgba(0,0,0,0.15);
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
    color: #5a2a40;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #e0bfc8;
    font-size: 14px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #d47fa6;
}

/* BUTON */
button {
    margin-top: 20px;
    width: 100%;
    background-color: #d47fa6;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #bf6a8f;
}

/* GERİ DÖN */
.geri-btn {
    display: block;
    margin: 25px auto;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #8b3a62;
}

.geri-btn:hover {
    text-decoration: underline;
}
