body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
}

h2 {
    background-color: #2f4f8f;
    color: white;
    padding: 18px;
    margin: 0;
    text-align: center;
}

.container {
    width: 85%;
    margin: 30px auto;
}

/* FORM KARTI */
.kart {
    background-color: white;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.12);
    max-width: 450px;
    margin: auto;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
    color: #2f4f8f;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccd4e0;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #2f4f8f;
}

/* BUTON */
button {
    margin-top: 20px;
    width: 100%;
    background-color: #2f4f8f;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #253e73;
}


.geri-btn {
    display: block;
    margin: 25px auto;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #2f4f8f;
}

.geri-btn:hover {
    text-decoration: underline;
}
